@font-face {
    font-family: 'Butterscotch';
    src: url(../fonts/Butterscotch.otf) format('opentype'), url(../fonts/Butterscotch.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #9E9E9E;
}

/*HEADER*/

.header{
    display: flex;
    justify-content: center;
    background-color: #BDBDBD;
    padding: 15px;
    margin: 0 5px 15px 5px;
    font-family: 'Butterscotch', Arial, Helvetica, sans-serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.header .titulo{
    color: #191919;
}


/*MENU*/

.menu-container{
    display: flex;
    justify-content: center;
    font-family: 'Butterscotch', Arial, Helvetica, sans-serif;
}

.menu{
    background-color: #BDBDBD;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 95vw;
    padding: 20px 60px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.menu-container .menu p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212121;
    font-size: 50px;
    height: 100%;
    transition: 0.3s;
}

.menu-container .menu p:hover{
    color: black;
    z-index: 2;
}

.menu-container .menu p:active{
    color: #9E9E9E;
}

.outros, .sala, .cozinha, .quarto, .banheiro, .lavanderia{
    background-color: #E0E0E0;
    width: 400px;
    height: 340px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.165);
    transition: 0.3s;
}

.outros:hover, .sala:hover, .cozinha:hover, .quarto:hover, .banheiro:hover, .lavanderia:hover{
    opacity: 0.7;
}

.outros{
    background-image: url(../images/outros.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sala{
    background-image: url(../images/sala.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cozinha{
    background-image: url(../images/cozinha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.quarto{
    background-image: url(../images/quarto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banheiro{
    background-image: url(../images/banheiro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.lavanderia{
    background-image: url(../images/lavanderia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*FOOTER*/

.footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 10px 0;
}

.footer .observacao{
    max-width: 600px;
}

.footer .criador a{
    color: #212121;
}

.footer .criador a:hover{
    color: #BDBDBD;
}